In [43]:

import json
import pandas as pd

In [44]:
#data = pd.read_json("fireworks_ai__accounts__fireworks__models__qwq-32b__codeact__frames_test_set__trial0.jsonl", lines=True)
data = pd.read_json("output/fireworks_ai__accounts__fireworks__models__llama-v3-70b-instruct/codeact/frames_test_set/fireworks_ai__accounts__fireworks__models__llama-v3-70b-instruct__codeact__frames_test_set__trial0.jsonl", lines=True)

In [47]:
data.to_excel("check_outputs.xlsx", index=False)

PermissionError: [Errno 13] Permission denied: 'check_outputs.xlsx'

In [45]:
first128 = data.head(128)
first128

,model_id,agent_action_type,original_question,answer,true_answer,intermediate_steps,start_time,end_time,token_counts,final_grade
0,fireworks_ai/accounts/fireworks/models/llama-v...,codeact,"According to the 2000 United States census, wh...",506000,506000,[TaskStep(task='According to the 2000 United S...,2025-04-05 21:55:21.948,2025-04-05 23:56:22,"{'input': 9966, 'output': 298}",A
1,fireworks_ai/accounts/fireworks/models/llama-v...,codeact,What is the name of the vocalist from the firs...,Jens Kidman,Jens Kidman,[TaskStep(task='What is the name of the vocali...,2025-04-05 21:55:21.957,2025-04-05 23:56:24,"{'input': 10398, 'output': 289}",A
2,fireworks_ai/accounts/fireworks/models/llama-v...,codeact,How many years earlier would Punxsutawney Phil...,1886,87,[TaskStep(task='How many years earlier would P...,2025-04-05 21:55:21.966,2025-04-05 23:56:26,"{'input': 7444, 'output': 341}",B
3,fireworks_ai/accounts/fireworks/models/llama-v...,codeact,If my future wife has the same first name as t...,Elizabeth Ballou,Jane Ballou,"[TaskStep(task=""If my future wife has the same...",2025-04-05 21:55:21.950,2025-04-05 23:56:32,"{'input': 15565, 'output': 509}",B
4,fireworks_ai/accounts/fireworks/models/llama-v...,codeact,"As of Aug 3, 2024, the artist who released the...",2,2,"[TaskStep(task='As of Aug 3, 2024, the artist ...",2025-04-05 21:55:21.966,2025-04-05 23:56:32,"{'input': 13442, 'output': 293}",A
...,...,...,...,...,...,...,...,...,...,...
123,fireworks_ai/accounts/fireworks/models/llama-v...,codeact,I am thinking of a province that has the small...,Cypripedium acaule,Cypripedium Acaule,"[TaskStep(task=""I am thinking of a province th...",2025-04-05 22:03:04.559,2025-04-06 00:03:51,"{'input': 16487, 'output': 506}",A
124,fireworks_ai/accounts/fireworks/models/llama-v...,codeact,I'm thinking of a man whose first name is Hart...,Hart Bochner,Hart Bochner,"[TaskStep(task=""I'm thinking of a man whose fi...",2025-04-05 22:03:28.974,2025-04-06 00:03:51,"{'input': 15789, 'output': 452}",A
125,fireworks_ai/accounts/fireworks/models/llama-v...,codeact,"In the Belgian capital, there is a street name...",The capital of Croatia is Zagreb. (Source: Wik...,Zagreb,"[TaskStep(task=""In the Belgian capital, there ...",2025-04-05 22:03:27.172,2025-04-06 00:03:52,"{'input': 7853, 'output': 220}",A
126,fireworks_ai/accounts/fireworks/models/llama-v...,codeact,What year was the University that gave Taylor ...,1831,1831 (New York University),[TaskStep(task='What year was the University t...,2025-04-05 22:03:47.321,2025-04-06 00:03:59,"{'input': 8169, 'output': 190}",A
127,fireworks_ai/accounts/fireworks/models/llama-v...,codeact,What films did Big Hit Music's 7-member boy gr...,Bring the Soul: The Movie,Love Yourself in Seoul (2019) and Bring the So...,"[TaskStep(task=""What films did Big Hit Music's...",2025-04-05 22:03:42.282,2025-04-06 00:04:02,"{'input': 10877, 'output': 254}",B

In [46]:
first128['final_grade'].value_counts(normalize=True)

final_grade
A    0.554688
B    0.390625
C    0.054688
Name: proportion, dtype: float64

In [30]:
wrong_answer_df = data[(data['final_grade']!= 'A')]

In [31]:
wrong_answer_df = wrong_answer_df.drop(["start_time","end_time", "model_id", "agent_action_type"], axis=1)

In [32]:
wrong_answer_df

,original_question,answer,true_answer,intermediate_steps,token_counts,final_grade
0,I am moving to the G40 postcode area - what tr...,The train stations near the G40 postcode area ...,Bridgeton Railway Station and Dalmarnock Railw...,[TaskStep(task='I am moving to the G40 postcod...,"{'input': 4594, 'output': 137}",B
2,"Using the Pruett rule, out of all of the blue ...",1,9,"[TaskStep(task='Using the Pruett rule, out of ...","{'input': 6944, 'output': 253}",B
3,"As of August 1 2024, what is the most recently...","‚Ä†ùë∫ùíäùíìùíÜùíèùíêùíÉùíÜùíïùíâùíöùíçùíñùíî Wu, Vilhelmsen & Gao gen. nov.","Deltaherpeton, first described in 2010","[TaskStep(task='As of August 1 2024, what is t...","{'input': 4349, 'output': 154}",B
7,Imagine there is a building called Bronte towe...,4,37th,[TaskStep(task='Imagine there is a building ca...,"{'input': 7587, 'output': 282}",B
9,"As of July 1, 2024, if I wanted to give my dau...",Simone Katie,Arianne Kathleen,"[TaskStep(task='As of July 1, 2024, if I wante...","{'input': 5197, 'output': 129}",B
...,...,...,...,...,...,...
813,What is the name of the father of the first co...,Carl Christian von Gram,Peter Treschow,[TaskStep(task='What is the name of the father...,"{'input': 15014, 'output': 449}",B
815,Which actor in the movie Nadja has a Golden Pa...,Elina L√∂wensohn,Peter Fonda,[TaskStep(task='Which actor in the movie Nadja...,"{'input': 8744, 'output': 339}",B
817,Diago Costa played for which club when he was ...,Spain,Atl√©tico Madrid,[TaskStep(task='Diago Costa played for which c...,"{'input': 4741, 'output': 134}",B
818,What is the difference between the number of y...,4,The seventh-ratified US state is Maryland. The...,"[TaskStep(task=""What is the difference between...","{'input': 12372, 'output': 483}",B
822,This singer represented Sweden in Eurovision f...,Virgo,Aquarius,[TaskStep(task='This singer represented Sweden...,"{'input': 12672, 'output': 985}",B

In [13]:
wrong_answer_df.to_json("wrong_answers.json")

In [7]:
our_output = pd.read_json("output/fireworks_ai__accounts__fireworks__models__qwq-32b/codeact/frames_test_set/fireworks_ai__accounts__fireworks__models__qwq-32b__codeact__frames_test_set__trial0.jsonl",
                          lines=True)
our_output.to_csv(
    "output/fireworks_ai__accounts__fireworks__models__qwq-32b/codeact/frames_test_set/fireworks_ai__accounts__fireworks__models__qwq-32b__codeact__frames_test_set__trial0.csv")