In [3]:

import json
import pandas as pd

In [4]:
data = pd.read_json("output/fireworks_ai__accounts__fireworks__models__qwq-32b/codeact/frames_test_set/fireworks_ai__accounts__fireworks__models__qwq-32b__codeact__frames_test_set__trial0.jsonl", lines=True)
data = data[['original_question', 'answer', 'true_answer', 'final_grade']]

In [8]:
data['final_grade'].value_counts(normalize=True)

final_grade
A    0.551597
B    0.407862
C    0.040541
Name: proportion, dtype: float64

In [6]:
wrong_answer_df = data[(data['final_grade']!= 'A\n')]

In [ ]:
wrong_answer_df.

,original_question,answer,true_answer,final_grade
0,The Pope born Pietro Barbo ended a long-runnin...,Norman Conquest,The Battle of Hastings.,A
1,One of Barbara Kingsolver's best known novels ...,1960,1960,A
2,"An Australian artist, born the same year as ar...",Reve d'Or,Reve d'Or,A
3,Which football player got 15 or more assists i...,Mesut Özil,This was Mesut Ozil.,A
4,A general motors vehicle is named after the la...,6,4,B
...,...,...,...,...
809,Which movie musical produced a song that was i...,Hair,Fame,B
810,This singer represented Sweden in Eurovision f...,Aquarius,Aquarius,A
811,"According to topographical summit prominence, ...",9,35 years.,B
812,Diago Costa played for which club when he was ...,Atlético Madrid,Atlético Madrid,A
813,A 2002 science fiction novel by an American au...,The Takeshi Kovacs Trilogy,The Sea of Trolls trilogy,B

In [13]:
wrong_answer_df.to_json("wrong_answers.json")

In [7]:
our_output = pd.read_json("output/fireworks_ai__accounts__fireworks__models__qwq-32b/codeact/frames_test_set/fireworks_ai__accounts__fireworks__models__qwq-32b__codeact__frames_test_set__trial0.jsonl",
                          lines=True)
our_output.to_csv(
    "output/fireworks_ai__accounts__fireworks__models__qwq-32b/codeact/frames_test_set/fireworks_ai__accounts__fireworks__models__qwq-32b__codeact__frames_test_set__trial0.csv")