In [7]:

import json
import pandas as pd

In [15]:
#data = pd.read_json("fireworks_ai__accounts__fireworks__models__qwq-32b__codeact__frames_test_set__trial0.jsonl", lines=True)
data = pd.read_json("output/fireworks_ai__accounts__fireworks__models__llama-v3-70b-instruct/codeact/frames_test_set/fireworks_ai__accounts__fireworks__models__llama-v3-70b-instruct__codeact__frames_test_set__trial0.jsonl", lines=True)

In [16]:
first128 = data.head(128)
first128

,model_id,agent_action_type,original_question,answer,true_answer,intermediate_steps,start_time,end_time,token_counts,final_grade
0,fireworks_ai/accounts/fireworks/models/llama-v...,codeact,I am moving to the G40 postcode area - what tr...,The train stations near the G40 postcode area ...,Bridgeton Railway Station and Dalmarnock Railw...,[TaskStep(task='I am moving to the G40 postcod...,2025-04-05 18:35:19.079,2025-04-05 20:36:14,"{'input': 4594, 'output': 137}",B
1,fireworks_ai/accounts/fireworks/models/llama-v...,codeact,Ma≈Çgorzata Ro≈ºniecka is a model who won the ti...,10,10 years,[TaskStep(task='Ma≈Çgorzata Ro≈ºniecka is a mode...,2025-04-05 18:35:16.292,2025-04-05 20:36:19,"{'input': 4869, 'output': 164}",A
2,fireworks_ai/accounts/fireworks/models/llama-v...,codeact,"Using the Pruett rule, out of all of the blue ...",1,9,"[TaskStep(task='Using the Pruett rule, out of ...",2025-04-05 18:35:16.339,2025-04-05 20:36:20,"{'input': 6944, 'output': 253}",B
3,fireworks_ai/accounts/fireworks/models/llama-v...,codeact,"As of August 1 2024, what is the most recently...","‚Ä†ùë∫ùíäùíìùíÜùíèùíêùíÉùíÜùíïùíâùíöùíçùíñùíî Wu, Vilhelmsen & Gao gen. nov.","Deltaherpeton, first described in 2010","[TaskStep(task='As of August 1 2024, what is t...",2025-04-05 18:35:16.284,2025-04-05 20:36:28,"{'input': 4349, 'output': 154}",B
4,fireworks_ai/accounts/fireworks/models/llama-v...,codeact,If Princess Diana had been born three years ea...,Harold Wilson,Harold Wilson,[TaskStep(task='If Princess Diana had been bor...,2025-04-05 18:35:18.331,2025-04-05 20:36:29,"{'input': 6843, 'output': 194}",A
...,...,...,...,...,...,...,...,...,...,...
123,fireworks_ai/accounts/fireworks/models/llama-v...,codeact,A disease that had millions of dollars raised ...,1981,1981,[TaskStep(task='A disease that had millions of...,2025-04-05 18:41:42.597,2025-04-05 20:42:27,"{'input': 7933, 'output': 255}",A
124,fireworks_ai/accounts/fireworks/models/llama-v...,codeact,"On Nov 15, 2017 a painting was sold for US $45...",1766,1766,"[TaskStep(task='On Nov 15, 2017 a painting was...",2025-04-05 18:41:42.539,2025-04-05 20:42:32,"{'input': 7243, 'output': 303}",A
125,fireworks_ai/accounts/fireworks/models/llama-v...,codeact,Which president of the United States is repres...,45,Joe Biden,[TaskStep(task='Which president of the United ...,2025-04-05 18:41:25.404,2025-04-05 20:42:35,"{'input': 12744, 'output': 479}",B
126,fireworks_ai/accounts/fireworks/models/llama-v...,codeact,What Pink Floyd album came out the year Pablo ...,The Dark Side of the Moon,Dark Side of the Moon,[TaskStep(task='What Pink Floyd album came out...,2025-04-05 18:41:51.246,2025-04-05 20:42:46,"{'input': 8665, 'output': 792}",A
127,fireworks_ai/accounts/fireworks/models/llama-v...,codeact,"As of 2024, how many total Academy award nomin...",12,12,"[TaskStep(task='As of 2024, how many total Aca...",2025-04-05 18:41:57.061,2025-04-05 20:42:46,"{'input': 8298, 'output': 668}",A

In [17]:
first128['final_grade'].value_counts(normalize=True)

final_grade
A    0.593750
B    0.382812
C    0.023438
Name: proportion, dtype: float64

In [6]:
wrong_answer_df = data[(data['final_grade']!= 'A\n')]

In [ ]:
wrong_answer_df.

,original_question,answer,true_answer,final_grade
0,The Pope born Pietro Barbo ended a long-runnin...,Norman Conquest,The Battle of Hastings.,A
1,One of Barbara Kingsolver's best known novels ...,1960,1960,A
2,"An Australian artist, born the same year as ar...",Reve d'Or,Reve d'Or,A
3,Which football player got 15 or more assists i...,Mesut √ñzil,This was Mesut Ozil.,A
4,A general motors vehicle is named after the la...,6,4,B
...,...,...,...,...
809,Which movie musical produced a song that was i...,Hair,Fame,B
810,This singer represented Sweden in Eurovision f...,Aquarius,Aquarius,A
811,"According to topographical summit prominence, ...",9,35 years.,B
812,Diago Costa played for which club when he was ...,Atl√©tico Madrid,Atl√©tico Madrid,A
813,A 2002 science fiction novel by an American au...,The Takeshi Kovacs Trilogy,The Sea of Trolls trilogy,B

In [13]:
wrong_answer_df.to_json("wrong_answers.json")

In [7]:
our_output = pd.read_json("output/fireworks_ai__accounts__fireworks__models__qwq-32b/codeact/frames_test_set/fireworks_ai__accounts__fireworks__models__qwq-32b__codeact__frames_test_set__trial0.jsonl",
                          lines=True)
our_output.to_csv(
    "output/fireworks_ai__accounts__fireworks__models__qwq-32b/codeact/frames_test_set/fireworks_ai__accounts__fireworks__models__qwq-32b__codeact__frames_test_set__trial0.csv")